<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Becas4You</title>
    <link href="resources/css/styles.css" rel="stylesheet" type="text/css">
    <!-- <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" /> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/resources/img/favicon.png">

</head>

<body>
    <div>

        <nav class="navbar navbar-inverse navbar-fixed-top navbar-expand-lg navbar-light bg-light" style="position: sticky; top: 0; z-index: 100;">
            <div class="container-fluid">
                <a href="/"><img class="navbar-brand" src="/resources/img/logoforweb.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">Conócenos</a>
                        </li>

                        <% if(login) { %>


                            <li class="nav-item">
                                <a class="nav-link" href="becas">Becas</a>
                            </li>


                            <li class="nav-item">
                                <a class="nav-link" href="/">

                                    <strong>

                                        <b>

                                            <%= name %>
                                        </b>
                                    </strong>
                                </a>
                            </li>



                            <li class="nav-item">
                                <a class="nav-link" href="logout">Log Out</a>
                            </li>


                            <% } else { %>
                                <!-- <h1><strong><%= name %></strong></h1> -->

                                
                                <li class="nav-item">
                                    <a class="nav-link" href="becasUsuario">Becas</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="login">Inicia Sesión</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="register">Registrate</a>
                                </li>

                                <!-- <a href="logout" type="button" class="a-logout boton2">Salir</a> -->
                                <% } %>


                    </ul>
                </div>
            </div>
        </nav>



        <section class="content-section">

            <div class="content">
                <div>
                    <h2 id="text-becas">Tus becas están aquí!</h2>
                    <p class="home-first-p">Aprovecha la oportunidad para ampliar tu experiencia, encuentra y compara las distintas becas a las que puedes aplicar con un solo click</p>
                    <a href="becasUsuario">Mirar Becas</a>
                </div>
            </div>
            <div class="imgBx">
                <img src="/resources/img/student.png">
            </div>
        </section>


        <div>
            <div class="pasos-empresa d-flex justify-content-around">

                <div class="card" style="width: 25rem; height: 400px;">
                    <img src="/resources/img/register.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3>Primer Paso</h3>
                        <p class="card-text"> Registra tu empresa en nuestra página para que puedas benenficiarte de nuestro servicio.</p>
                    </div>
                </div>

                <div class="card" style="width: 25rem; height: 400px;">
                    <img src="/resources/img/login2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3>Segundo Paso</h3>
                        <p class="card-text">Identificate con tu usuario y contraseña, completa tus datos.</p>
                    </div>
                </div>

                <div class="card" style="width: 25rem; height: 400px;">
                    <img src="/resources/img/upload3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3>Tercer Paso</h3>
                        <p class="card-text">Añade las becas o cursos que ofrecen y compartelas con nuestros usuarios.</p>
                    </div>
                </div>
            </div>
        </div>



        <div class="about-section">
            <div class="inner-width">
                <h1>Conócenos</h1>
                <div class="border"></div>
                <div class="about-section-row">
                    <div class="about-section-col">
                        <div class="about">
                            <p>
                               Becas4You es una iniciativa creada para facilitar a los estudiantes a encontrar las becas a las que pueden aplicar de una manera sencilla. Nuestro proposito es incentivar el estudio teniendo en cuenta que cada vez aumenta la tasa de abandono por parte de los jovenes creando esta plataforma que facilita la busqueda de información.
                            </p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                    <div class="about-section-col">
                        <div class="skills">
                            <div class="skill">
                                <div class="title">Visitas</div>
                                <div class="progress">
                                    <div class="progress-bar p1"><span>90%</span></div>
                                </div>
                            </div>

                            <div class="skill">
                                <div class="title">Becas</div>
                                <div class="progress">
                                    <div class="progress-bar p2"><span>70%</span></div>
                                </div>
                            </div>

                            <div class="skill">
                                <div class="title">Empresas</div>
                                <div class="progress">
                                    <div class="progress-bar p3"><span>50%</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <h6>Quiénes somos</h6>
                        <p class="text-justify"> Becas4You es una iniciativa creada para facilitar a los estudiantes a encontrar las becas a las que pueden aplicar de una manera sencilla. Nuestro proposito es incentivar el estudio teniendo en cuenta que cada vez aumenta la tasa de abandono por parte de los jovenes creando esta plataforma que facilita la busqueda de información.</p>
                    </div>

                    <div class="col-xs-6 col-md-3">
                        <h6>¿Qué te ofrecemos?</h6>
                        <ul class="footer-links">
                            <li>Becas</li>
                            <li>Estudios</li>
                            <li>Cursos</li>
                            <li>Servicios</li>
                            <li>Formación Continua</li>
                        </ul>
                    </div>

                    <div class="col-xs-6 col-md-3">
                        <h6>Quick Links</h6>
                        <ul class="footer-links">
                            <li>Quiénes somos</li>
                            <li>Contactanos</li>
                            <li>Contribuye</li>
                            <li>Políticas de Privacidad</li>
                        </ul>
                    </div>
                </div>
                <hr>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <p class="copyright-text">Copyright &copy; 2022 Todos los derechos reservados por
                            <a href="#">Becas4You</a>.
                        </p>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <ul class="social-icons">
                            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>


    </div>

    <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script> -->
    <!-- <script src="./js/script.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script> -->
    <!-- 
            <% if(login) { %>
                <h1>Hola <strong><%= name  %></strong>!</h1>
                <a href="logout" class="a-logout">Logout</a>
                <% } else { %>
                    <h1><strong><%= name %></strong></h1>
                    <a href="login" class="a-login">Ir al Login</a>
                    <% } %> -->

    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

</body>

</html>